{% extends "base.html" %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="content-wrapper upload-page edit-page">

    <!-- channel -->
    <div class="container-fluid add-header">
        <div class="row">
            <h1>
                Que souhaitez-vous donner ?
            </h1>
        </div>
    </div>
    <!-- ///channel -->

    <div class="container mt-30">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <label for="e1">Titre</label>
                                    <input type="text" name="name" class="form-control" id="e1"
                                            placeholder="Jeu de cartes (rare)" required>
                                </div>
                            </div>
                            <div >
                                <div class="form-group">
                                    <label for="e2">Description</label>
                                    <textarea class="form-control" name="description" id="e2" rows="3" required></textarea>
                                </div>
                            </div>

                            <div >
                                <div class="form-group">
                                    <label for="e2">Ville</label>
                                    <input class="form-control cityAutoComplete" type="text" autocomplete="off" id="search-box" required/>
                                    <ul class="list"></ul>
                                </div>
                            </div>

                            <div class="">
                                <div class="form-group">
                                    <label for="e3">Image</label>
                                    <input type="file" class="form-control" name="picture" id="e3" rows="3" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="u-area mt-small">
                        <form action="#" method="post">
                            <button name="submit" class="btn btn-primary u-btn">Valider</button>
                        </form>
                    </div>
                    <div class="u-terms">
                        <p>En soumettant votre article vous acceptez les <a href="#">conditions générales</a> de Vide Grenier en
                            ligne.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .list{
        width: 100%;
        background-color: #ffffff;
        border-radius: 0 0 5px 5px;
    }
    .list-item{
        padding: 10px 0px;
    }
    .list-item:hover{
        background-color: #dddddd;
    }
    </style>
{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        let input = document.getElementById("search-box")
        $('.cityAutoComplete').autoComplete({
            resolver: 'custom',
            events: {
                search: function (qry, callback) {
                    // let's do a custom ajax call
                    $("#search-box").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");
                    $.ajax(
                        '/api/cities',
                        {
                            data: { 'query': qry}
                            
                        }
                    ).done(function (res) {
                        console.log(res);
                        removeElement();
                        for(let i of res){
                            let choice = document.createElement("li")
                            choice.classList.add("list-item")
                            choice.style.cursor = "pointer"
                            choice.setAttribute("onclick", "displayNames('"+ i +"')")
                            let word = "<b>" + i.substr(0, input.value.length) + "</b>"
                            word += i.substr(input.value.length)
                            choice.innerHTML = word
                            console.log(choice);
                            document.querySelector(".list").appendChild(choice)
                        }
                    });
                }
            }
        });

        function displayNames(value){
            input.value = value;
            removeElement();
        }

        function removeElement(){
            let items = document.querySelectorAll(".list-item")
            items.forEach((item) => {
                item.remove();
            })
        }
        
    </script>
{% endblock %}
{% block css %}

    
{% endblock %}
